
*{
    margin: 0;
    padding: 0;
}

.vide_one{
    grid-area: vide_one;
}

.main_header{
    grid-area: main_header;
}

.vide_two{
    grid-area: vide_two;
}

.container{
  max-width: 1440px;
  font-family: sans-serif;
  margin: 0px 80px;
  display: grid;
  grid-template-areas: 
  'vide _one main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header main_header vide_two';
}

.header_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .navbar{
    display: flex;
    list-style: none;
    padding: 30px 20px;
}

.navbar li {
    margin: 10px;
    text-decoration: none;
}

li a{
    color: #765f5f;
    text-decoration: none;
    display: inline-block;
}

li a:hover{
    color: #c90909;
    text-decoration: none;
    display: inline-block;
}



.sary{
    grid-area: sary;
}

.titre_grand{
    grid-area: grand_titre;
    max-width: 350px;
}

.detail{
    grid-area: detail;
    max-width: 400px;
}

button{
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    background-color: rgb(8, 10, 37);
    outline: none;
    color: white;
    letter-spacing: 5px;
    margin-top: 20px;
} 

.aside_section{
    grid-area: aside_sec;
    max-width: 250px;
    background-color: rgb(8, 10, 37);
}

.footer_one{
    grid-area: footer_one;
    max-width: 350px;
    margin-top:50px ;
}

.imge_one{
    display: flex;
}

.footer_two{
    grid-area: footer_two;
    max-width:350px;  
    margin-top:50px ; 
}

.footer_three{
    grid-area: footer_three;
    max-width: 250px;
    margin-top:50px ;
    max-height: 00px;
}

.header{
    display: grid;
    grid-template-areas: 
    'sary sary sary sary sary sary sary sary sary sary aside_sec aside_sec aside_sec aside_sec aside_sec'
    'grand_titre grand_titre grand_titre grand_titre grand_titre detail detail detail detail detail aside_sec aside_sec aside_sec aside_sec aside_sec'
    'footer_one footer_one footer_one footer_one footer_one footer_two footer_two footer_two footer_two footer_two footer_three footer_three footer_three footer_three footer_three'
    ;
}

.line{
    margin-left: 20px;
    width: 200px;
    height: 3px;
    background: #2e2222;
}

.titre_aside{
    margin: 10px;
    color: rgb(131, 135, 30);
}

.detail_one_aside .titre_detail{
    color: white;
    margin: 30px;
}

.para_detail{
    color: white;
    margin: 20px;
}

.detail_footer{
    margin: 20px;
}

.opeMe{
    display: none;
}

.O1{color: #6f6868;}
.detai_one{color:#6f6868; margin-top: 10px; line-height: 30px;}
.titre_footer{font-weight: 600;}

@media screen and (max-width:700px) {
    .container{
        display: flex;
        position: relative;
    }

    .opeMe{
        display: block;
    }

    .navigation .navbar{
        display: none;
    }
    
    .img_back img{
        width: 350px;
    }
    .aside_section{
        max-width: 550px;
        position: absolute;
        top: 400px;
        left: 0;
      /*  display: none;*/
    }
    .line{
        margin-left: 20px;
        width: 100px;
        height: 3px;
        background: #2e2222;
    }

    .titre_grand{
        font-size: 12px;
        position: relative;
        max-width: 200px;
       /* bottom: 180px;*/
    }

    .detail{
        position: relative;
      /*  bottom: 180px;*/
        font-size:12px;
        max-width: 200px;
        right: 50px;
    }

    button{
        margin: 0;
    }

    .footer_one{
        position: absolute;
        top: 210%;
    }

    .footer_two{
        position: absolute;
        top: 250%;
    }
    .footer_three{
        position: absolute;
        top: 290%;
    }
}